<div class="container">
  <br>
  <form>
    <div class="vista card-body">
      <app-menu></app-menu>
      <div class="card-body">
        <div class="col">
          <h2>Resultados GEI</h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="col-form-label col-form-label-sm">
                Seleccionar sector
              </label>
              <br>
              <select class="form-control" id="provincia" name="provincia" required>
                <option>Energía estacionaria</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <label>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam quis fuga.
        </label>
        <br>
        <label>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. </label>
        <br><br>
        <div class="table-responsive text-center">
          <table class="table ">
            <thead>
              <tr class="table-header">
                <th colspan="2"></th>
                <th colspan="5" class="col0">Total de emisiones GEI [
                  tCO2e ]</th>
              </tr>
              <tr>
                <th scope="col">Cod. GPC</th>
                <th scope="col">Sector / Categoría / Sub categoría </th>
                <th scope="col">Alcance 1</th>
                <th scope="col">Alcance 2</th>
                <th scope="col">Alcance 3</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">I</th>
                <td>Energía estacionaria</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">I.1</th>
                <td>Edificios residenciales
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">I.1</th>
                <td>Quema de combustibles dentro del territorio
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">I.1</th>
                <td> Consumo de electricidad provenientes de la red dentro del territorio
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
            </tbody>
          </table>
        </div>
        <div class="float-right">
          <div class="col  d-flex justify-content-end align-items-center">
            <label class="me-2">Total: </label>
            <span class="caja">### ###.##</span><label class="ms-2">tCO2e</label>
          </div>
        </div>
        <br>
        <div class="text-center">
          <nav>
            <div class="text-center">
              <ul class="pagination justify-content-center">
                <li class=" page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <img src="../assets/images/left.svg" height="8" />
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <img src="../assets/images/right.svg" height="8" />
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </form>
</div>
