<div *ngIf="!(router.url === '/' )" class="mt-5">
</div>
<footer class="w-100 py-4">
  <div class="container">
    <div class="col-lg-4 col-md-6" style="line-height: 1.5625rem;">
      <label class="text-white">Contáctanos:</label>
      <p>Correo: inventariosgei@minam.gob.pe<br>
        Central Telefónica: (+511) 611 6000<br>
        Linea Verde: 0800-00-600<br>
        Fax: 611 6000 1634<br>
        Av. Antonio Miroquesada 425, Magdalena del Mar<br>
        Lima - Perú</p>
    </div>
  </div>
</footer>
