<body>
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bloque">
          <div class="card-body p-5 pb-0">
            <h2 class="mb-3 text-center">Inicio de sesión</h2>
            <img class="center-image mb-3" src="../assets/images/personas.png" />
            <div class="mb-4 tform">
              <img src="../assets/images/user.svg" class="iform" />
              <input class="eform" />
            </div>
            <div class="mb-4 tform">
              <img src="../assets/images/candado.svg" class="iform" />
              <input class="eform" type="password" />
            </div>
            <div class="checkbox mt-3">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">
                Mantener sesión iniciada
              </label>
            </div>
            <div class="col text-center mt-3 mb-4">
              <button class="btn btn-success mb-3" routerLink="/registrar-solicitud" type="button">
                Ingresar
              </button>
              <br>
              <a href="#!" class="mt-3">¿Olvidó tu contraseña?</a>
            </div>
          </div>
          <div class="card-body">
            <hr class="mb-2">
            <div class="d-flex align-items-center ">
              <div class="p-2"><i class="icon fas fa-info-circle"></i></div>
              <div class="p-2">
                <label class="dato">Si aún no cuenta con credenciales de acceso al sistema, haga clic <a
                    href="">aquí</a> para
                  registrar su
                  solicitud de usuario.</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
