<div class="container">
  <br>
  <form>
    <div class="vista card-body">
      <app-menu></app-menu>
      <div class="card-body box">
        <div class="col">
          <h2>Bandeja de notificaciones</h2>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="text" class="form-control buscar" placeholder="Buscar en asunto">
            </div>
          </div>
        </div>
        <br>
        <div class="table-responsive text-center">
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Asunto</th>
                <th scope="col">Mensaje</th>
                <th scope="col">Adjunto</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>10/05/2022</td>
                <td>Reapertura de periodo 2021</td>
                <td>El periodo 2021 ha sido aperturado para el ingreso de información</td>
                <td></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>10/05/2022
                </td>
                <td>Aprobación - inventario GEI 2021</td>
                <td></td>
                <td>DocAprobación.pdf</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div class="text-center">
          <nav>
            <div class="text-center">
              <ul class="pagination justify-content-center">
                <li class=" page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <img src="../assets/images/left.svg" height="8" />
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <img src="../assets/images/right.svg" height="8" />
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </form>
</div>
